@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    --sm: 30rem;
    --md: 50rem;
    --lg: 75rem;
    --border-radius: 0.2rem;
    --container-max-width: 90rem;
    --time-transition: 0.5s;
    --color-white: hsl(0, 0%, 94%);
    --color-pureWhite: hsl(0, 0%, 100%);
    --color-light: hsl(0, 0%, 75%);
    --color-medium: hsl(0, 0%, 50%);
    --color-dark: hsl(0, 0%, 30%);
    --color-1: hsl(39, 68%, 88%);
    --color-2: hsl(246, 100%, 90%);
    --color-3: hsl(360, 90%, 62%);
    --color-4: hsl(221, 25%, 27%);
    --color-shadow: hsla(221, 25%, 27%, 0.5);
    --box-shadow: 0.2rem 0.2rem 0.3rem var(--color-shadow);
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Rubik, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    background: linear-gradient(135deg, var(--color-1) 0%, var(--color-2) 25%, var(--color-3) 75%, var(--color-4) 100%);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    font-family:
        source-code-pro,
        Menlo,
        Monaco,
        Consolas,
        'Courier New',
        monospace;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-dark);
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dark);
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-medium);
}

summary {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-dark);
}

p,
label,
input {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark);
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.font-sm {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.mr {
    margin-right: 1rem;
}

.ml {
    margin-left: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}
